{{#section 'title'}}
    404 - Portal Pulsa Cermati
{{/section}}

{{error}}
{{message}}
<div class="row center">
    <div class="content mt-50">
        <a href="/">
            <img class="company-logo" src="images/logo.png">
        </a>

        <h1>
            Maaf, halaman yang Anda cari tidak ada.
        </h1>
        <h4>
            Kembali ke
            <a href="/">Beranda</a>
        </h4>
    </div>
</div>